@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Poppins:wght@200;400;600&display=swap');

:root {
    --primary: #b6254c;
}

body {
    --font-body: "Playfair Display", "Georgia", "Palatino", serif;
    --font-headings: "Poppins", "Arial", "Helvetica", sans-serif;
    --font-cursive: "Snell Roundhand", "Apple Chancery", "URW Chancery L", "Brush Script MT", cursive;
    --primary-color: #631C2F;
    --primary-color-light: #b6254c;
    font-family: var(--font-body);
}

section {
    padding: 5em 0;
}

/* Typography */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
    font-weight: 600;
}

em {
    font-family: var(--font-headings);
    font-weight: 600;
    font-style: normal;
}

.text-standout {
    font-family: var(--font-body);
    font-style: italic;
    font-size: 2em;
}

.wed-icon {
    height: 1em;
    width: 1em;
    color: var(--primary-color-light);
}

.btn-primary {
    color: white;
    background-color: var(--primary-color-light);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.btn-primary:focus {
    background-color: var(--primary-color-light);
}

.btn-primary:active {
    background-color: var(--primary-color-light);
}

/* Home Page Style */
.landing {
    background: url("../img/IMG_7234.jpg") no-repeat center center;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
    height: 100svh;
    min-height: 480px;
    max-height: 1080px;
}

.landing:before {
    content: "";
    /* background: rgb(99,28,47); */
    background-color: #631C2F;
    /* rgba(245, 138, 119, 0.2); */
    opacity: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.landing-container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    overflow-x: hidden;
}

.landing-couple-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /* background: rgb(99,28,47); */
    width: fit-content;
    min-width: 130px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-couple-box {
    width: fit-content !important;
    padding: 2em .2em;
    margin: 5vh auto auto auto;
    max-width: 450px;
    width: 80%;
    text-align: center;
    border: .3em solid white;
}

.landing-couple-names {
    font-family: var(--font-headings);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.75em;
    color: #fff;
    letter-spacing: .05em;
    margin: 0;
    padding: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.landing-title-container {
    left: 0;
    position: absolute;
    bottom: 0;
    padding-left: 5%;
    padding-bottom: 10vh;
    color: #fff;
    font-weight: 600;
    font-size: 5em;
    line-height: .9em;
}

.landing-title-alt {
    margin-left: 5px;
    font-family: var(--font-cursive);
    font-weight: 400;
    font-size: .8em;
    opacity: .8;
}

@media (max-height: 670px) {

    .landing-couple-container {
        left: 0;
        width: 100%;
    }

    .landing-couple-box {
        padding: .2em 2em;
    }
    
    .landing-couple-box span {
        display: block;
    }

    .landing-couple-names {
        writing-mode: horizontal-tb;
        transform: unset;
    }
}

/* Nav Bar Style */
.ww-nav-bar .nav-item {
    padding: 5px 0 5px 16px;
    font-family: var(--font-headings);
    font-weight: 500;
}

.navbar-brand {
    font-size: 1.5rem;
}

/* Programma */

.programma-item {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    column-gap: 1em;
    justify-content: left;
    align-items: center;
}

.programma-item-icon {
    height: 3em;
    width: 3em;
    color: var(--primary-color-light);
}

.programma-item-text {
    text-align: left;
}

.programma-item-title {
    font-size: 1.25em;
    margin-bottom: -0.3em;
}

.programma-item-orario {
    font-family: var(--font-headings);
    font-size: 1.25em;
    font-weight: 600;
    color: var(--primary-color-light);
}

/* Photo Gallery Style */

.photo-gallery .card-columns .card {
    border: none;
    margin-bottom: 15px;
    border-radius: none;
}

@media (max-width: 992px) {
    .photo-gallery .card-columns {
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .photo-gallery .card-columns {
        -moz-column-count: 1;
        column-count: 1;
    }
}